footer {
    width: 90vw;;
    margin: 20rem auto 5rem auto;
    text-align: center;
    font-size: 2rem;

    span {
        font-size: 4rem;
        color: #ff0000;
    }

    a {
        text-decoration: none;
        color: #e8985e;
    }
}